<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <div>
        <li><%= user.name %></li>
      </div>
    <% end %>
  </ul>
  <%= paginate users %>
<% else %>
  <a>no register!</a>
<% end %>
