<h1>Users#show</h1>
<div class="row">

    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %>:<%= @user.email %></h3>
      </div>
    </div>

  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link">Tasklists</a></li>
    </ul>
  </div>
</div>
