<h1>Welcome to the Top page</h1>

<% if logged_in? %>
  <div class="row">
    <div class="col-sm-8">

      
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Tasklists NOT logedin. </h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>
